body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tittle {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.tittle2 {
  font-family: Arial, Helvetica, sans-serif;
}

.votat {
  margin-top: 25px;
}

/* For Webkit browsers (Chrome, Safari, Edge) */
progress::-webkit-progress-value {
  background-color: #8c1407;
}

/* For Firefox */
progress::-moz-progress-bar {
  background-color: #8c1407;
}

/* Optional: Setting a background for the progress bar track */
progress {
  background-color: #ddd; /* you can choose any color for the track */
  width: 100%; /* adjust width if needed */
  border-radius: 10px !important;
}

img {
  margin-top: 50px;
  width: 200px;
  height: auto;
}

span {
  color: #8c1407;
}

.progress-container {
  width: 100%;
  background-color: #ddd;
  border-radius: 10px; /* This ensures the outer container has a radius */
  padding: 3px; /* Add some padding to show the border-radius */
}

progress {
  width: 100%;
  border-radius: 10px; /* Attempt to apply the border-radius to progress */
  /* background-color: transparent; Ensure the background is transparent */
}
