body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(https://scontent.fprn3-1.fna.fbcdn.net/v/t1.6435-9/120468116_100828175128591_1403227723050128512_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=lf0P-YajcJkQ7kNvgHNv0Gj&_nc_ht=scontent.fprn3-1.fna&_nc_gid=AWb5FJXieeDL9KTti8IiSq2&oh=00_AYAZTNuknmbdKNTDJMZJViSMie9DpyU-BHiAqMO9nn0doA&oe=6714E3C6);
}

.tittle {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.tittle2 {
  font-family: Arial, Helvetica, sans-serif;
}

.votat {
  margin-top: 25px;
}

/* For Webkit browsers (Chrome, Safari, Edge) */
progress::-webkit-progress-value {
  background-color: #8c1407;
}

/* For Firefox */
progress::-moz-progress-bar {
  background-color: #8c1407;
}

/* Optional: Setting a background for the progress bar track */
progress {
  background-color: #ddd; /* you can choose any color for the track */
  width: 100%; /* adjust width if needed */
  border-radius: 10px;
}

img {
  margin-top: 50px;
  width: 200px;
  height: auto;
}

span {
  color: #8c1407;
}

.progress-container {
  width: 100%;
  background-color: #ddd;
  border-radius: 10px; /* This ensures the outer container has a radius */
  padding: 3px; /* Add some padding to show the border-radius */
}

progress {
  width: 100%;
  border-radius: 10px; /* Attempt to apply the border-radius to progress */
  /* background-color: transparent; Ensure the background is transparent */
}
